includes:
    - phpstan-baseline.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    level: 6
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
#    ignoreErrors:
#        - '#.*Internal error.*#'
    excludePaths:
        - src/Scopes/AAuthOrganizationNodeScope.php
        - src/Scopes/AAuthABACModelScope.php

